.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  width: 1120px;
  background: $white-darkest;
  margin: 0 auto;
}

.price-list__header {
  height: 56px;
  margin-bottom: 16px;
}

.repair-type-list__header {
  margin-bottom: 16px;
}

.brands__header {
  margin-bottom: 16px;
}


