$screen-xs: 320px;
$screen-sm: 320px;
$screen-md: 767px;
$screen-lg: 1119px;
$screen-xl: 1425px;

$black-light: #1B1C21;
$gray: #7E7E82;
$gray-light: #B5B6BC;
$gray-lightest: #DDDDDD;
$white-darkest: #F8F8F8;
$white-dark: #F2F2F2;
$white: #FFFFFF;
$pink: #FF3E79;
$green-focus: #B8FFEC;
$input-border: #EAEAEA;

$font-size: 14px;
$font-size--large: 16px;
$font-size--largest: 24px;

$font-family: 'TT Lakes Regular';
$font-family--bold: 'TT Lakes Bold';
$font-family--medium: 'TT Lakes Medium';
